
.page {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100%;
}

.page .sidebar {
    overflow: auto;
    width: 500px;
}

.page .about {
    flex: 1;
    overflow: auto;
}
