
body {
    
    text-shadow: 1px 1px 3px hsl(0, 0%, 79%);
    margin: 0;
}

p {
    font-family: Optima;
    font-size: 24px;
    display: block;
    width: 800px;
    margin: 0 auto;
    line-height: 60px;
}

p a {
    font-size: 17px;
}

.desc {
    font-size: 20px;
    font-family: Optima, Palatino, sans-serif;
    text-align: right;
    position: relative;
    top: -20px;
}

.logo {
  font-family: Ruthie;
  color: hsl(0, 100%, 100%);
  margin: auto;
  padding: 80px 270px 20px;
  font-size: 180px;
  background-image: -webkit-linear-gradient(77deg, hsl(269, 42%, 82%), hsl(240, 76%, 67%));
}
.logo .font {
    line-height: 200px;
}