
* {
    box-sizing: border-box;
}

body {
    text-shadow: 1px 1px 3px hsl(0, 0%, 79%);
    margin: 0;
    font-family: Optima;
    background: hsl(245, 100%, 97%);
}

p a {
    font-size: 17px;
}

.project {
    background: white;
    padding: 20px 50px;
    margin: 40px auto;
    width: 1060px;
    line-height: 48px;
    box-shadow: 3px 3px 10px hsl(0, 0%, 77%);
    overflow-x: hidden;
}

.project.entry {}

.project .title {
    font-size: 30px;
    margin-left: -20px;
}

.project .name {}

.project .site {}

.project .demo {}

.project .desc {}

.project .mark {}