
.about {
    padding: 60px 20px 200px;
    background-color: white;
}

.about pre {
    border: 1px solid hsl(0, 0%, 91%);
    padding: 0.5em;
    overflow: auto;
}

.about blockquote {
    background-color: hsl(0, 0%, 96%);
    margin: 0;
    padding: 0.5em 1em;
}

.about blockquote p {
    margin: 0;
}

.about img {
  max-width: 100%;
}


.about p code,
.about ul code {
  background-color: hsl(0,0%,90%);
  padding: 0.2em 0.4em;
}
