
.sidebar {
    padding: 40px 20px;
}

.sidebar .group {
    padding-top: 20px;
}

.sidebar .title {
    color: hsl(0,0%,50%);
    font-size: 18px;
}

.sidebar .projects {
    padding-left: 20px;
    margin-top: 10px;
}

.sidebar .project {
    color: hsl(0, 0%, 51%);
    cursor: pointer;
    font-size: 16px;
}

.sidebar .project:hover,
.sidebar .project.is-selected {
    color: black;
}
