
doctype 5
html
  head
    title Cirru
    link(rel="stylesheet", type="text/css", href="style/style.css")
    link(rel="stylesheet", type="text/css", href="fonts/Ruthie.css")
  body
    .logo
      .font Cirru
      .desc /ˈsɪɹə/ indentation-based grammar for languages
    p This is the home for Cirru, welcome.
    p
      a(href="https://github.com/jiyinyiyong/cirru-parser/wiki/About-Cirru")
        | Find more about Cirru on Github.
  include ga